### Funtions

In [9]:
def greet():
    print("Hello")
    
greet()

Hello

In [10]:
def greet(user):
    print(f"Hello {user}")

greet("Tanvir")

Hello Tanvir

In [15]:
def square_addition(a, b):
    a = a ** 2
    b = b ** 2
    print(a + b)

In [16]:
square_addition(10, 20)

500

In [18]:
def square_addition(a, b):
    a = a ** 2
    b = b ** 2
    return(a + b)

In [19]:
add = square_addition(10, 20) + 10
print(add)

510

In [28]:
# def square_addition(*args):
#         print(args)

# square_addition(10, 20, 30, 40, 50) 

def square_addition(*args):
    summation = 0
    for i in args:
        i = i ** 2
        summation += i
    return summation

answer = square_addition(10, 20, 30, 40, 50)
print(answer)

5500

In [30]:
# def student(**kwargs):
#     print(kwargs)
    
# student(name = "Tanvir", cls = 12, roll = 1, marks = 99)    
def student(**kwargs):
    for key
    print(kwargs)
    
student(name = "Tanvir", cls = 12, roll = 1, marks = 99)

{'name': 'Tanvir', 'cls': 12, 'roll': 1, 'marks': 99}

### Iterator

In [5]:
s = {10, 20, 30, 40, 50}
# print(s[1]) # Error
iterator = iter(s)
# print(iterator)
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))

<set_iterator object at 0x000001F617F9D000>
50
20
40
10
30

### Generator

In [12]:
lst = [x for x in range (500)] # Let, Dataset
# print(lst)

def data_loader(chunk_size, lst):
    for i in range(len(lst)):
        yield lst[i:i+chunk_size]

x = data_loader(5, lst)
# print(type(x))
# print(x)
print(next(x))
print(next(x))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]

### Lamda Function

In [14]:
def square_addition(x, y):
    return x**2 + y**2

sq_add = lambda x, y: x**2 + y**2
print(sq_add(2, 3))

13

In [15]:
is_even = lambda x : x % 2 == 0

print(is_even(11))

False

### Map

In [17]:
lst = [1, 2, 3, 4, 5, 6]

# def square(x):
#     return x**2

# lst = list(map(square, lst))

# print(lst)

lst = list(map(lambda x : x**2, lst))

print(lst)

[1, 4, 9, 16, 25, 36]

In [24]:
string1 = "Hello World"
string2 = list(map(str.upper, string1))
print(string2)
string3 = "".join(string2)
print(string3)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']
HELLO WORLD

### Filter

In [29]:
numbers = [x for x in range (100)]
# print(numbers)
even = list(filter(lambda x : x % 2 == 0, numbers))
# print(even)
greater_fifty = list(filter(lambda x : x > 50, numbers))
print(greater_fifty)

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

### Reduce Function (Functools)

In [30]:
from functools import reduce

lst = [1, 2, 3, 4, 5]

summation = reduce(lambda x, y : x + y, lst)
print(summation)

15

In [31]:
max_value = reduce(lambda x, y : x if x > y else y, lst)
print(max_value)

5