In [ ]:
# Email: Tanvirh3103@gmail.com

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

## Question 1:

In [16]:
import numpy as np

arr_ages = np.array(ages)
arr_salaries = np.array(salaries)

print(arr_ages.dtype)
print(arr_salaries.dtype)

print(arr_ages.ndim)
print(arr_salaries.ndim)

print(arr_ages.shape)
print(arr_salaries.shape)

print(arr_ages.size)
print(arr_salaries.size)

int64
int64
1
1
(10,)
(10,)
10
10

## Question 2:

In [13]:
import numpy as np

arr_salaries = np.array(salaries)

# max_salary_index = arr_salaries.argmax() # index
# max_salary_value = arr_salaries.flat[max_salary_index] # value
# print(f"Maximum salary value: {max_salary_value}")

# min_salary_index = arr_salaries.argmin() # index
# min_salary_value = arr_salaries.flat[min_salary_index] # value
# print(f"Minimum salary value: {min_salary_value}")

max_salary = arr_salaries.max()
print(f"Maximum salary value: {max_salary}")

min_salary = arr_salaries.min()
print(f"Minimum salary value: {min_salary}")

average_salary = arr_salaries.mean()
print(f"Average salary: {average_salary}")

Maximum salary value: 89735
Minimum salary value: 30769
Average salary: 57446.9

## Question 3:

In [15]:
import numpy as np

arr_ages = np.array(ages)

# filter_ages = arr_age > 30
# filtered_ages = arr_age[filter_ages]
filtered_ages = arr_ages[arr_ages > 30]
print(filtered_ages.size)
print(filtered_ages)

7
[56 46 32 38 56 36 40]

## Question 4:

In [17]:
import numpy as np

arr_ages = np.array(ages)
# print(arr_ages)
new_arr_age = np.array(arr_ages + 5)
print(new_arr_age)

[61 51 37 30 43 61 41 45 33 33]

## Question 5:

In [18]:
import numpy as np

# arr_salaries = np.array(salaries)
# print(arr_salaries)
total_salaries = np.sum(salaries)
print(f"Total salary expense = {total_salaries}")

difference = arr_salaries.max() - arr_salaries.min()
print(f"Difference between maximum and minimum salary = {difference}")

Total salary expense = 574469
Difference between maximum and minimum salary = 58966

## Question 6:

In [41]:
import pandas as pd

df = pd.read_csv("employees.csv")
# print(df)
print(df.head(5)) # Display first five rows
df.info()
df.describe()

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes

             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## Question 7:

In [44]:
import pandas as pd

df = pd.read_csv("employees.csv")
# print(df.id)
# print(df.age)
# print(df.salary)
print(df[['id', 'age', 'salary']])
print()
print(df.tail(3))

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

   id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

## Question 8:

In [45]:
import pandas as pd

df = pd.read_csv("employees.csv")
filter_df = df[df['dept'] == 'IT'] # Show only employees who work in the IT department
print(filter_df)
# print(filter_df.size) # Total values
print(filter_df.shape[0]) # Number of employees who work in the IT department

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT
3

## Question 9:

In [51]:
import pandas as pd

df = pd.read_csv("employees.csv")
# df.sort_values(by='salary', ascending=False, inplace=True)
# print(df.head(3))
top = df.sort_values(by='salary', ascending=False).head(3)
print(top[['age', 'dept', 'salary']])

   age     dept  salary
6   36  Finance   89735
7   40       IT   86101
0   56       HR   77191

## Question 10:

In [1]:
import pandas as pd

df = pd.read_csv("employees.csv")

df.loc[df.salary > 80000, 'salary'] = 80000
# print(df)
new_avg = df.salary.mean()
print(new_avg)

FileNotFoundError: [Errno 2] No such file or directory: 'employees.csv'